/* 
@media only screen and (max-width: 320px) {
  /* styles for narrow screens */
  /* .player-wrapper{
    position: relative;
    height: 100vh;
    width: 100%
  }
  .react-player{
    position: absolute;
    top: 0;
    left: 0;
  }
} */ */



.player-wrapper {
  position: relative;
  padding-top: 56.25% ;/* Player ratio: 100 / (1280 / 720) */
  width:'100%';
  height:'100vh'
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}



